.navbar_main{
    border-bottom: 1px solid gray;
}
.navbar_logo{
    margin: 8px 10px 8px 16px;
}
.navbar_leftbar{
    display: flex;
}
.navbar_search{
    height: 48px;
    width: 190px;
    border-radius: 25px;
    border: 0px;
    background-color: #eff2f5;
    font-size: 16px;
    padding-left: 30px;
    margin-top: 8px;
}
.navbar_container{
    display: flex;
    margin-top: 10px;
    margin-left: 60px;
}
.navbar_tabs{
    width: 130px;
    height: 40px;
}
.navbar_tabs.active{
    border-bottom: 3px solid #1877f2;
}
.navbar_right_tab{
    display: flex;
}
.navbar_right_profile_img{
    margin-top: 15px;
    margin-right: 10px;
    max-width: 30px;
    max-height: 30px;
}
.navbar_right_profile_name{
    margin-top: 20px;
}