.post_container{
    width: 600px;
    margin-top: 20px;
    border-radius: 20px;
}
.post_header{
    display: flex;
    height: 50px;
}
.post_img{
    margin: 15px;
}
.post_header_text{
    font-weight: 700;
    margin-top: 25px;
    font-size: 14px;
}
.post_description{
    display: flex;
    margin-left: 20px;
    margin-top: 15px;
}
.post_image{
    margin: 10px 0px;
}
.post_like_container{
    height: 30px;
    display: flex;
    padding: 0px 10px;
    border-bottom: 1px solid #cdd0d4;
}
.post_like{

}
.post_like_count{
    margin-left: 5px;
}
.post_like_img{
    height: 20px;
}
.post_like_share{
    display: flex;
    height: 40px;
    margin-left: 100px;
    margin-top: 10px;
}
.post_like_tabs{
    display: flex;
    width: 200px;
}
.post_like_tabs_first{

}
.post_like_button_img{
    width: 30px;
}
.post_like_button_text{
    margin: 5px;
}
.upload_comment{
    border-top: 1px solid #cdd0d4;
}